

.contentBox{
      height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#navbar{
    background-color: black;
    height: 60px;
}
button{
    background-color: rgb(98, 98, 6);
}
#logo{
    color: blue;
    font-size: large;
}
a{
    margin-right: 160px;
}

*{
    color: chartreuse;
}
footer{
    background-color: black;
    text-align: center;
}
#Mycontent{
    height: 600px;
}
