h1{
    text-align: center;
    text-decoration: blue dotted underline;
}
p{
    text-align: left;
    text-decoration: line-through;
}
p1{
    text-align: right;
    text-decoration: overline;
}
a{
    text-decoration: none;
}

#h1{
    font-weight: normal;
}
#h2{
    font-weight: bold;
}
#h3{
    font-weight: bolder;

}
#h4{
    font-weight: lighter;
}
#h5{
    font-weight: 600;
}
#h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    line-height: 25px;
    text-transform: uppercase;
}

#inner{
    font-size: 30px;
}

#outer{
    font-size: 35px;
}