body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 80px;
}

/* COMMON STYLES */
.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: steelblue;
  color: white;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* transition for smooth transform */
  transition: transform 0.6s ease;
}

/* SCALE */
.scale:hover {
  transform: scale(1.3);
}

/* TRANSLATE */
.translate:hover {
  transform: translate(40px, -30px);
}

/* SKEW */
.skew:hover {
  transform: skew(20deg, 10deg);
}
