div{
    background-color: pink;
    height: 100px;
    width: 100px;
    border-color: black;
    border-width:2px ;
    border-style: dotted;
    text-align: center;
    border-radius: 25%;
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 45px;
    padding-bottom: 20px; 
    margin-bottom: 25px;
    
}
h1{
    height: 100px;
    width:200px;
    background-color: aquamarine;
    border-color: blueviolet;
    border-width: 20px;
    border-style: dashed;
    text-align: center;

}
h2{
    border: 2px solid green; /*this is a shorthand trick*/
}

