h3{
    color:brown;
}

*{ 
p{
    color:darkblue 
}
    
}

button{
    color:crimson;
    background-color: chartreuse;

}
body{
    background-color: rgb(0, 0, 0);
}
p2{
    color:#ffff00;
}

#myheading{
    color:cyan
}

.myclass{
    color:darkorchid
}

#box{
    background-color: blue;
}

