div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    
}
@media (max-width:300px){
    div{
        background-color: blue;
    }
}
@media (max-width:400px) and (min-width:300px){
    div{
        background-color: orange;
    }
}
@media (max-width:600px) and (min-width:400px){
    div{
        background-color: red;
    }
}
@media (min-width:600px){
    div{
        background-color:chartreuse;
    }
}